@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.questions-list {
  overflow-y: auto;
  max-height: 72vh;
}


/* productDetails */

.productOverview{
border: 1px solid black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.Header{
border: 1px solid pink;
border-radius: 5%;
width: 90vw;
margin-bottom: 2px
}
.searchBar{
  float: right;
}

.productContainer{
  border: 1px solid blue;
  width: 90vw;
  height: 50vw;
  display:flex;
  flex-direction: row;
}
.imageList{
  border: 1px solid blue;
  width: 60vw;
  height: auto;
}
.detail{
  border: 1px solid red;
  width: 30vw;
  height: auto;
}
.imageList{
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prevButton{
  /* this should be nexted in middle of div on left */
  border: 1px solid rgb(205, 87, 144);
  /* align-self: flex-start; */
}
.nextButton{
    /* this should be nexted in middle of div on right */
  border: 1px solid orange;
  justify-self: flex-end;
}
.imgButton:hover {
  color: #FF00FF;
}
.galleryContainer{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.photoGallery:hover{
  border: 1px solid lavenderblush;
}
.currentImg{
  border:2px solid lightcyan;
}

