.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modalContainer {
  max-width: 500px;
  width:100%;
  max-height: 400px;
  height:100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 245, 247);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 200px;
}

.comparedItem {
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.comparedFeatures {
  display: flex;
  align-items: center;
}

.featureList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparing{
  color:rgb(80, 78, 78);
  font-size: smaller;
}