/* styles.css */
.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 260px;
  height: 400px;
  padding: 30px;
  border: 1px solid #ccc;
}

.productCard:hover {
  box-shadow: 0 8px 16px 0 rgba(7, 27, 208, 0.402);
}

.container {
  margin: 0;
}
/*
.relatedList {
  display: flex;
  justify-content: center;
} */

.theLine {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px auto;
    width: 80%;

}

.sectionHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 280px;
}

.thumbSpace {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}