/* styles.css */
.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 260px;
  height: 400px;
  padding: 20px;
  border: 1px solid #ccc;
}

.productCard:hover {
  box-shadow: 0 8px 16px 0 rgba(7, 27, 208, 0.402);
}

.container {
  margin: 0;
}

.theLine {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px auto;
    width: 80%;

}

.sectionHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.thumbSpace {
  width: 220px;
  height: 230px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.react-multi-carousel-item{
  max-width: 280px;
  min-width:280px;
}

.carousel {
  margin-left: 100px;
  margin-right: 100px;
}

.salePrice {
  color: red;
}

.priceBlock {
  display: flex;
  align-items: baseline;
}

.compareButton {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.compareButton:hover {
  color: rgb(46, 175, 235);
}

.react-multiple-carousel__arrow {
  color: red;
  background-color:  rgba(26, 132, 208, 0.846);
}

.react-multiple-carousel__arrow--right {
  right: 7px;
}

.react-multiple-carousel__arrow--left {
  left: 7px;
}

.plus {
  font-size: 110px;
 }

 .addCard {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: rgba(128, 128, 128, 0.633);
 }
