/* styles.css */
.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 260px;
  height: 400px;
  padding: 20px;
  border: 1px solid #ccc;
}

.productCard:hover {
  box-shadow: 0 8px 16px 0 rgba(7, 27, 208, 0.402);
}

.container {
  margin: 0;
}

.theLine {
    border: none;
    border-top: 1px solid #ccc;
    margin: 5px auto;
    width: 85%;

}

.sectionHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.thumbSpace {
  width: 220px;
  height: 230px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.react-multi-carousel-item{
  max-width: 280px;
  min-width:280px;
}

.carousel {
  margin-left: 100px;
  margin-right: 100px;
}

.salePrice {
  color: red;
}

.priceBlock {
  display: flex;
  align-items: baseline;
}

.actionButton {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  transition: transform 0.3s;
}

.actionButton:hover {
  transform: scale(1.5);
  text-shadow: 1px 1px 1px rgb(1, 12, 19);
  color: rgb(138, 195, 252)
}


.react-multiple-carousel__arrow {
  color: red;
  background-color:  rgba(26, 132, 208, 0.846);
}

.react-multiple-carousel__arrow--right {
  right: 7px;
}

.react-multiple-carousel__arrow--left {
  left: 7px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(80deg); }
}
.plus {
  font-size: 120px;
 }

 .plus:hover {
    animation: spin 0.20s linear 1;
  }

 .addCard {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: rgba(128, 128, 128, 0.633);
  cursor: pointer;
 }
